.button-homepage {
  font-size: 0.75rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.05rem;
  color: white;
  padding: 1rem 2rem;
  margin: 2rem;
  cursor: pointer;
  border-radius: 2rem;
  border: none;
  background-color: #666666;
  transition: background-color 0.5s ease 0s;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.185);
  &:hover {
    transition: background-color 0.1s ease 0s;
    background-color: map-get($colors, primary);
  }
  &:active {
    transition: background-color 0s 0s;
    background-color: map-get($colors, light-grey);
    color: black;
  }
  &:focus {
    outline: none;
  }
  
}



