//MOBILE sm
@media (min-width: map-get($map: $media-widths, $key: sm)) {
    .container {
        width: 100vw;
        //background: $gradient-1;
        display: grid;
        //grid-template-columns: 20px repeat(6, 1fr) 20px;
        height: 600px;
        //height: calc(100vh - 24px - 40px - 40px);
    }
    //TABLET md
    @media (min-width: map-get($map: $media-widths, $key: md)){
        .container {
            grid-template-columns: 1fr 1fr;
            grid-auto-rows: minmax(100px, auto);
        }
        //DESKTOP lg
        @media (min-width: map-get($map: $media-widths, $key: lg)){
            .container {
                grid-template-columns: 400px 1fr 1fr;
                grid-auto-rows: minmax(100px, auto);
            }
            //HI RES xl
            @media (min-width: map-get($map: $media-widths, $key: xl)){

            }
        }
    }
}


.module {
  background-color: map-get($map: $colors, $key: light-grey);
  margin: 0px;
  overflow-y: scroll; // not working (?)
}
@for $i from 1 through 12 {
    .module:nth-child(#{$i}) {
      background-color: rgb(calc(#{$i}*30),calc(#{$i}*20),calc(#{$i}*250));
    }
}
