//MOBILE sm
@media (min-width: map-get($media-widths, sm)) {
  nav {
    height: nav_height(sm);
  }
  nav.roll-up {
    top: invert_nav_height(sm);
  }
  .all-content {
    top: nav_height(sm);
  }
  //TABLET md
  @media (min-width: map-get($media-widths, md)) {
    nav {
      height: nav_height(md);
    }
    nav.roll-up {
      top: invert_nav_height(md);
    }
    .all-content {
      top: nav_height(md);
    }
    //DESKTOP lg
    @media (min-width: map-get($media-widths, lg)) {
      nav {
        height: nav_height(lg);
      }
      nav.roll-up {
        top: invert_nav_height(lg);
      }
      .all-content {
        top: nav_height(lg);
      }
      //HI RES xl
      @media (min-width: map-get($media-widths, xl)) {
        nav {
          height: nav_height(xl);
        }
        nav.roll-up {
          top: invert_nav_height(xl);
        }
        .all-content {
          top: nav_height(xl);
        }
      }
    }
  }
}
