$gradient-1: linear-gradient(0.45turn, #e233ff, #ff6b00);
$gradient-2: linear-gradient(0.45turn, #eb7cff, #ff8731);

$shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);

$font-weights: (
  "light": 300,
  "regular": 400,
  "medium": 500,
  "bold:": 700,
);
@function weight($weight-name) {
  @return map-get($font-weights, $weight-name);
}

$colors: (
  "primary": #ff6b00,
  "secondary": #e233ff,
  "middle-grey": rgb(78, 78, 78),
  "light-grey": rgb(228, 228, 228),
  "dark-grey": #333,
);
// needs to be duplicated in JS

@function color($color-name) {
  @return map-get($colors, $color-name);
}

$media-widths: (
  "sm": 0px,
  "md": 768px,
  "lg": 1366px,
  "xl": 1920px,
);

$nav_heights: (
  "sm": 50px,
  "md": 70px,
  "lg": 80px,
  "xl": 100px,
);
@function nav_height($nav_height) {
  @return map-get($nav_heights, $nav_height);
}
@function invert_nav_height($nav_height) {
  @return -1 * (map-get($nav_heights, $nav_height));
}
