@import "./reset";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import "./variables";
@import "./grid-section";
@import "./responsive";
@import "./buttons";



///////////////// 
body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  //color: map-get($map: $colors, $key: primary)
}

h1 {
  font-size: 3rem;
  font-weight: 700;
  margin: 2rem;
}

////////// NAV ////////////////////////////
.social {
  background-color: color(dark);
  height: 2rem;
  width: 100vw;

}

nav {
  z-index: 10; // nav index needs to be > 0, since .all-content cannot be negative, or buttons would be unclickable
  color: white;
  font-weight: weight(medium); //<-- this syntax is made available thru functions, see file _variables.scss 
  background: $gradient-1;
  position: fixed;
  top: 0px;
  width: 100vw;
  display: flex;
  justify-content: flex-end;
  --ease: all 500ms ease 100ms;
  transition: var(--ease);

  ul {
    display: flex;
    align-items: center;
    li {
      list-style: none;
      margin: 10px 2em 0px 2em; // *10px to compensate for ...
    }
    ul {
      display: block;
      li {
        color: map-get($colors, dark )
      }
    }
  }
}

//--------- Dropdown.-------------
.launch-dropdown {
  position: relative;
  //display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 80px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 20px 0;
  z-index: 20;
}

.launch-dropdown:hover .dropdown-content { //<--when hovering over launch-dropdown show dropdown content
  display: block;
}

//--------------Nave menu items----------------------
a {
  color: #fff;
  text-decoration: none;

  display: inline-block;
  padding: 0px 0px 10px 0px; // *... these 10 px here
  position: relative;
  transition: color 0.3s ease 0s;
}

a:hover {
  color: #000;
}
a::after {
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 0%;
  position: absolute;
  background: #fff;
  transition: background 0.3s linear 0s, width 0.3s ease 0s;
  width: 0;
}
a:hover::after {
  width: 100%;
  left: 0;
  background: #000;
}










/////ALL CONTENT////////////////////////////////////////////////

.all-content {
  position: relative;
  overflow: scroll;
  scroll-behavior: smooth;
}

// .button {
//   font-size: 0.75rem;
//   font-weight: 700;
//   text-transform: uppercase;
//   letter-spacing: 0.05rem;
//   color: white;
//   padding: 1rem 2rem;
//   margin: 2rem;
//   background: $gradient-1;
//   border-radius: 5px;
//   border: none;
//   //transition: background 0.3s ease 0s;

// }
// .button:hover {
//   background-color: red;
// }
// .button:focus {
//   outline: none;
// }

p {
  font-weight: map-get($map: $font-weights, $key: medium);
  margin: 2rem;
}

article {
  margin: 2rem;

  .main {
    line-height: 1.5rem;
    font-weight: 300;
    color: map-get($colors, middle-grey);
  }
}

